/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css"; */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "../node_modules/@angular/material/prebuilt-themes/purple-green.css"; */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-data-table__table :hover {
  background: whitesmoke;
  border-radius: 6px;
}

.custom-tooltip-container-procedencia .ng-star-inserted {
  width: 70px;
  padding: 20px 0px;
}

.legend-container .chart-legend .legend-labels {
  width: 170px;
  margin-left: 30px;
}

@media (max-width: 1300px) {
  .legend-container .chart-legend .legend-labels {
    width: 160px;
    margin-left: 20px;
  }
  @media (max-width: 1100px) {
    .legend-container .chart-legend .legend-labels {
      width: 170px;
      margin-left: 30px;
    }
  }
}
